/* styles.css */
.container {
    /* header */
    width: 100%;
    /* 這裡可以設置你需要的寬度 */
    margin-left: 30%;
    /* 左側保留 10% 的空間 */
    margin-right: auto;
    /* 右側自動縮放，讓它偏左 */
}

.search {
    /* 搜尋鍵 */
    position: absolute;
    /* 絕對位置 */
    left: 67%;
    /* 貼齊畫面最左 */
    width: 50%;
    /* 根據需求設置寬度 */
}

.doctor {
    position: absolute;
    left: 85%;
    /* 貼齊畫面最左 */
    width: 50%;
    /* 根據需求設置寬度 */
}

.system {
    /* 系統標題 */
    position: absolute;
    left: 10%;
    /* 貼齊畫面最左 */
    width: 50%;
    /* 根據需求設置寬度 */
    font-size: 25px;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/*header列表及下拉選單*/
ul {
    /* 取消ul預設的內縮及樣式 */
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.drop-down-menu {
    /* border: #ccc 1px solid; */
    display: inline-block;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
}

ul.drop-down-menu li {
    position: relative;
    white-space: nowrap;
    /* border-right: #ccc 1px solid; */
}

ul.drop-down-menu>li:last-child {
    border-right: none;
}

ul.drop-down-menu>li {
    float: left;
    /* 只有第一層是靠左對齊*/
}

ul.drop-down-menu a {
    background-color: #fff;
    color: #333;
    display: block;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;

}

ul.drop-down-menu a:hover {
    /* 滑鼠滑入按鈕變色*/
    background-color: #339999;
    color: #ffffff;
}

ul.drop-down-menu li:hover>a {
    /* 滑鼠移入次選單上層按鈕保持變色*/
    background-color: #339999;
    color: #ffffff;
}

ul.drop-down-menu ul {
    border: #ccc 1px solid;
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 100%;
    min-width: 180px;
}

ul.drop-down-menu ul li {
    border-bottom: #ccc 1px solid;
}

ul.drop-down-menu ul li:last-child {
    border-bottom: none;
}

ul.drop-down-menu ul ul {
    /*第三層以後的選單出現位置與第二層不同*/
    z-index: 999;
    top: 10px;
    left: 90%;
}

ul.drop-down-menu ul {
    /*隱藏次選單*/
    display: none;
}

ul.drop-down-menu li:hover>ul {
    /* 滑鼠滑入展開次選單*/
    display: block;
}

ul.drop-down-menu ul {
    /*隱藏次選單*/
    left: 99999px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

ul.drop-down-menu li:hover>ul {
    /* 滑鼠滑入展開次選單*/
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    left: -1px;
    border-right: 5px;
}

ul.drop-down-menu li:hover>ul ul {
    /* 滑鼠滑入之後、次選單之後的選單依舊隱藏*/
    left: 99999px;
}

ul.drop-down-menu ul li:hover>ul {
    /* 第二層之後的選單展開位置*/
    left: 90%;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}


.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}


.bd-mode-toggle {
    z-index: 1500;
}

.dropdown-menu .bi {
    display: block !important;
}



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* 禁止左右滾動 */
    background: #e0fffa;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e0fffa;
    z-index: 1000; /* 保證header在最上層 */
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

main {
    flex: 1;
    margin-top: 60px; /* 確保主內容區域不會與header重疊 */
    padding: 20px;
}

footer {
    width: 100%;
    height:20%;
    text-align: center;
    padding: 10px 0;
    background-color: #e0fffa;
    font-size: 14px;
    bottom: 0;
}


/* footer {
    position: fixed;
    bottom: 0; /* 固定在頁面底部 
    width: 100%;
    height: 20%; /* 根據內容自動調整高度 
    background-color: #e0fffa; /* 背景顏色 
    text-align: center; /* 讓文字在footer內水平居中 
    padding: 10px 0; /* 控制footer內部的上下間距 
    font-size: 14px; /* 控制文字大小 
    /* z-index: 0; 確保 footer 在最上層 
} */

/* 初始隱藏圖片和辨識按鈕、結果 */
#uploaded-image {
    display: none;
    height: 400px;
    width: 300px;
    margin-top: 50px;
}

.pic {
    width: 400px;
    height: 300px;
    margin-top: 50px;
    color: #d0f9f2;
    border: none;
}

.detect-disease {
    margin: 40px;
    height: 15px;
}

.result-box {
    margin: 40px;
    height: 5px;
}

/* 表格 */
table {
    width: 80%;
    /* 放大表格寬度 */
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 18px;
    /* 調整字體大小 */
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    /* text-align: center; */
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f5f5f5;
}

.input-name[type="text"] {
    width: 100%;
    /* 讓輸入框填滿儲存格 */
    padding: 8px;
    font-size: 16px;
    border: none;
    /* 去掉輸入框的邊框 */
    background-color: white;
    /* 設置背景為透明 */
    box-sizing: border-box;
    /* 確保 padding 包含在寬度內 */
}

.input-name[type="text"]:focus {
    outline: none;
    /* 移除點擊輸入框時的藍色外框 */
}

.input-ID-card-number[type="text"] {
    width: 100%;
    /* 讓輸入框填滿儲存格 */
    padding: 8px;
    font-size: 16px;
    border: none;
    /* 去掉輸入框的邊框 */
    background-color: white;
    /* 設置背景為透明 */
    box-sizing: border-box;
    /* 確保 padding 包含在寬度內 */
}

.input-ID-card-number[type="text"]:focus {
    outline: none;
    /* 移除點擊輸入框時的藍色外框 */
}

.input-birth[type="text"] {
    width: 100%;
    /* 讓輸入框填滿儲存格 */
    padding: 8px;
    font-size: 16px;
    border: none;
    /* 去掉輸入框的邊框 */
    background-color: white;
    /* 設置背景為透明 */
    box-sizing: border-box;
    /* 確保 padding 包含在寬度內 */
}

.input-birth[type="text"]:focus {
    outline: none;
    /* 移除點擊輸入框時的藍色外框 */
}

.input-remark {
    width: 100%;
    /* 讓輸入框填滿儲存格 */
    padding: 8px;
    font-size: 16px;
    border: none;
    /* 去掉輸入框的邊框 */
    background-color: white;
    /* 設置背景為透明 */
    box-sizing: border-box;
    /* 確保 padding 包含在寬度內 */
    resize: none;
    /* 禁止用戶手動改變 textarea 大小 */
}

.input-remark:focus {
    outline: none;
    /* 移除點擊輸入框時的藍色外框 */
}

.patient-part {
    display: flex;
    flex-direction: column;

}

.input-box {
    width: 900px;
}

/* 將選擇檔案與辨識照片按鈕放在同一水平線 */
.button-container {
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* 按鈕之間的間距 */
    align-items: center;
    margin-bottom: 10px;
}

.custom-file-upload,
.data-saved,
#predict-button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #60d9d9;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    /* 移除邊框 */
}

.custom-file-upload:hover,
.data-saved:hover,
#predict-button:hover {
    background-color: #339999;
    color: white;
}


.allResult {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 10%;
    flex: auto;
}


/* .py-5 {
    position: fixed;
    top: 80%;
    width: 100%;
} */

/* folder.html */
.folder-container {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: flex-start; /* 讓資料夾貼齊左邊 */
    align-items: flex-start;
}

.folder {
    right:20%;
    width: 18%; /* 確保每行最多顯示五個資料夾，五個資料夾加間距約為 100% */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 讓資料夾內部的內容靠上對齊 */
    align-items: flex-start;
    position: relative;
}

.folder img {
    width: 100%; /* 圖片寬度與資料夾一致 */
    height: auto;
}

.add-folder-btn {
    position: fixed;
    bottom: 13%;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #339999;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    z-index: 30;
}

.add-folder-btn:hover {
    background-color: #2e8888;
    color: #ffffff;
}

.folder a {
    color: black;          /* 文字顏色設為黑色 */
    text-decoration: none; /* 移除底線 */
    font-size: 23px;
  }
  
  .folder a:hover {
    color: darkgray;       /* 當滑鼠懸停時，文字顏色可以變為深灰色（可選） */
  }

  .folder p{
    font-size: 23px;
  }

  .folder p:hover {
    color: darkgray;       /* 當滑鼠懸停時，文字顏色可以變為深灰色（可選） */
  }